.Layout{
    margin: 5rem auto;
    width: 75%;
    height: 63rem;
    background-color:white;
    border-radius: 1rem;
    box-shadow: 0px 2px 3px #ccc;
}
@media only screen and (max-width: 1000px) {
    .Layout {
     width: 95%;
    }
}